.our-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--our-team-color);
}

.team-list {
    display: flex;
}

.team-item {
    margin-right: 30px;
    background-color: var(--secondary-color);
    text-align: center;
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:last-child {
        margin-right: 0;
    }
}

.team-description {
    padding: 30px 32px;
}

.third-title {
    @extend %united;
    font-weight: 500;
    margin-bottom: 10px;
}

.third-text {
    @extend %united;
    font-weight: 400;
    color: var(--p-text-color);
    margin-bottom: 16px;
}

.team-contacts {
    display: flex;
    justify-content: space-between;
}

.team-contacts-list {
    width: 44px;
    height: 44px;
}
