.plus {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: var(--secondary-color);
}

.plus-menu__box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--our-team-color);
    height: 120px;
    margin-bottom: 30px;
}

.plus-menu__list:not(:last-child) {
    margin-bottom: 30px;
}

.plus-menu__icon {
    height: 70px;
    width: 70px;
}

.plus-menu__title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}

.plus-menu__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--p-text-color);
}

@media screen and (min-width: 768px) {
    .plus-menu {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -30px;
        margin-right: -30px;
    }

    .plus-menu__list {
        width: 354px;

        &:not(:nth-child(2n)) {
            margin-right: 30px;
        }

        &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }
    }

    .plus-menu__title {
        text-align: unset;
    }
}

@media screen and (min-width: 1200px) {
    .plus {
        padding-top: 94px;
        padding-bottom: 47px;
    }

    .plus-menu__list {
        width: 270px;

        &:not(:last-child) {
            margin-right: 30px;
            margin-bottom: 0;
        }
    }
}
